#liste les bibliothèques Python nécessaires au projet. Le symbole >= signifie “version minimale”
# API
fastapi>=0.115.0 #creation d'API REST
uvicorn[standard]>=0.30.6 #serveur qui exécute l'API FastAPI
python-dotenv>=1.0.1 #chargement des variables d'environnement depuis un fichier .env
pydantic>=2.9.2 #validation et structuration des données
python-multipart>=0.0.9 #gestion des fichiers téléchargés via l'API FastAPI

# Data pipeline
pandas>=2.2.3 #manipulation des fichiers et tableaux de données
sqlalchemy>=2.0.35 #communication avec bd
psycopg2-binary>=2.9.9 #driver PostgreSQL

# RAG
pdfplumber>=0.11.4 #extraction de texte depuis des fichiers PDF
sentence-transformers>=3.1.1 #modèles de transformation de phrases en vecteurs pour l'embedding
qdrant-client>=1.11.2 #client pour interagir avec la base de données vectorielle Qdrant (recherche de vecteurs similaires dans Qdrant)

# LLM
ollama>=0.3.3 #communication avec le modèle LLM Ollama (Large Language Model) pour la génération de texte et la réponse aux requêtes

# Évaluation
ragas>=0.1.20 #outil d'évaluation des performances du pipeline RAG (Retrieval-Augmented Generation) pour mesurer la qualité des réponses générées par le modèle LLM en fonction des documents ingérés et des requêtes posées

# Tests
pytest>=8.3.3 #outil de test pour exécuter les tests unitaires et vérifier le bon fonctionnement du code
httpx>=0.27.2 #client HTTP pour effectuer des requêtes vers l'API FastAPI lors des tests